table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

.btn {
    width: 175px;
}

.stats {
    font-style: bold;
    font-size: 12px;
}
