{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-med-8 col-med-offset-2 col-sm-8 col-sm-offset-2">
<h3>FlightScore Methodology</h3>
</div>
</div>
<br><br>
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-med-8 col-med-offset-2 col-sm-8 col-sm-offset-2">
FlightScore is a measure of past on-time performance of flights.  FlightScore analyzes the on-time flight performance statistics from nearly 6M domestic flights in 2017. Each flight returned from the Google Flights API is analyzed for its origin, destination, airline, time of year, and time of day. These attributes are then used to look at similar flights from 2017 to come up with a FlightScore for that future flight. Factors used to generate these scores include:
<div><br>
<ul>
<li><b>Percentage of Delayed Flights</b> - A delayed flight is any flight that departs more than 30 minutes after a scheduled departure
</li>
<li><b>Average Length of Delay</b> - This is an average of all the delays over 30 minutes
</li>
<li><b>Percentage of Flights Cancelled or Diverted</b> - This is a percentage of the total flights which are either cancelled or diverted from its scheduled destination
</li>
<li><b>Airline</b> - Airlines have different on-time perfomance from one another
</li>
<li><b>Time of Day</b> - Flights in the morning, afternoon, evening or late-night will have different on-time statistics
</li>
<li><b>Time of Year</b> - Flights are analyzed by looking at which quarter of the year they fall in to account for seasonal differences in on-time performance
</li>
</ul>
<table class="table">
<thead>
    <th>FlightScore</th><th>Description</th>
</thead>
<tbody>
    <tr><td>65-100</td><td>Flights in this range have the best chance of being on time</td></tr>
    <tr><td>30-65</td><td>Flights in this range are ok, but expect the possibility of a delay or cancellation</td></tr>
    <tr><td>0-30</td><td>Choose these flights at your own risk!</td></tr>
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}